server {
    listen 8080;
    root ./www;

    # Custom Error Pages (هادو خاصهم يتقراو كـ ملفات بـ chunks)
    error_page 404 /404.html;
    error_page 403 /403.html;

    # Location 1: فيها Autoindex باش نتيستيو الـ RAM Response
    location / {
        autoindex on;
    }

    # Location 2: ممنوعة باش نتيستيو الـ 403 Custom File
    location /secret {
        autoindex off;
    }

    # Location 3: باش نتيستيو الـ POST واش كيرجع 201 دغيا
    location /upload {
        upload_file ./www/upload;
    }
}