# ==========================================================
# Website 1
# ==========================================================
server {
    # Interface : Port
    listen 127.0.0.1:8080;
    server_name localhost;

    # Default error pages
   

    # Maximum client body size
    client_max_body_size 20M;

    # error_page 404 /errors/404.html;
    # error_page 403 /errors/403.html;
    error_page 500 /errors/500.html;
    # ------------------------------------------------------
    # Home page
    # ------------------------------------------------------
    location / {
        root ./www/site1;
        index index.html;
        autoindex off;
        # Error pages should be in the location block we dont inherite them  fron the server block
        error_page 333 /errors/333.html;
        allow_methods GET POST;
    }

    # ------------------------------------------------------
    # Static file
    # ------------------------------------------------------
    location /images {
        root ./www/site1/assets;
        autoindex on;

        allow_methods GET;
    }

    # Example:
    # GET /images/logo.png
    # ->
    # ./www/site1/assets/logo.png

    # ------------------------------------------------------
    # Upload endpoint
    # ------------------------------------------------------
    location /upload {
        root ./www/site1;

        allow_methods POST;

        upload_file ./uploads;
    }

    # ------------------------------------------------------
    # Redirect
    # ------------------------------------------------------
    location /docs {
        return 301 /documentation;
    }

    location /documentation {
        root ./www/site1;
        index index.html;

        allow_methods GET;
    }

    # ------------------------------------------------------
    # CGI
    # ------------------------------------------------------
    location /cgi-bin {
        root ./cgi-bin;

        allow_methods GET POST;

        cgi .py /usr/bin/python3;
        cgi .php /usr/bin/php-cgi;
    }

    # ------------------------------------------------------
    # Example from the subject
    # ------------------------------------------------------
    location /kapouet {
        root /tmp/www;

        allow_methods GET;
    }

}

# ==========================================================
# Website 2
# ==========================================================
server {
    listen 127.0.0.1:9090;
    server_name admin.local;

    error_page 404 /404.html;

    client_max_body_size 5M;

    location / {
        root ./www/admin;

        index dashboard.html;

        autoindex off;

        allow_methods GET;
    }

    location /logs {
        root ./logs;

        autoindex on;

        allow_methods GET;
    }
}