server {
    listen 127.0.0.1:8080; # Your actual local network IP
    server_name site1;
}

server {
    listen 127.0.0.1:9090;   # Strictly localhost
    server_name site2;

    location /downloads
    {
        root /www/html;
    }

}   

server {
    listen 127.0.0.1:414;   # Strictly localhost
    server_name site2;

    location /downloads
    {
        root /www/html;
    }

}   
