server
{
    listen 8080;
    server_name site1;

    root /www/html;

    client_max_body_size 99999999;
    location /
    {
        autoindex off;
        allow_methods GET POST;
    } 

    location /downloads/ {
        root /var/www;
        allow_methods GET POST DELETE;
    upload_file /tmp/ok;
        autoindex on;
    }

}   

server
{
    listen 8080;
    server_name site2;

    location /api/ {
            allow_methods GET    POST   DELETE;
            client_max_body_size 5M;   # Overrides the server's 50M
    }

    location /cgi-bin { 
        root /etc;
        cgi .php /usr/bin/php-cgi; 
        cgi .py /usr/bin/python3;
    }

}

server
{
    listen 9090;
    server_name site3;

    location /api/ {
            allow_methods GET    POST   DELETE;
            client_max_body_size 5M;   # Overrides the server's 50M
    }

}

server
{
    listen 8080;
}