server
{
    listen 8080;
    server_name site1;

    root /www/html;


    location /
    {
        autoindex off;
        allow_methods GET POST;
    } 

    location /downloads {
        root /var/www/shared_files;
        allow_methods GET POST DELETE;
        autoindex on;
    }

}

server
{
    listen 8080;
    server_name site2;

    location /api/ {
            allow_methods GET    POST   DELETE;
            client_max_body_size 5M;   # Overrides the server's 50M
    }

}

server
{
    listen 8080;
}